.select{
    width: 300px;
    border: 1px solid #4e98f8;
    box-shadow: 0 0 5px #cce2ff;
    position: relative;
}
.select .dropdown-toggle{
    height: 30px;

}
.select .dropdown-toggle form{
    display: flex;
    height: 100%;
}
.select .select-text{
    flex: 1;
    text-indent: 5px;
}
.select .select-btn{
    width: 45px;
    height: 100%;
    background-color: #4e98f8;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.select .triangle{
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: #fff transparent transparent;
    left: 15px;
    top: 11px;
}
.select .select-btn.active .triangle{
    transform: rotate(180deg);
    top:3px;
}
.select .dropdown-layer{
    width: 100%;
    background-color: #fff;
    overflow: auto;
    height: 260px;
    position: absolute;
    border: 1px solid #4e98f8;
    border-top: none;
    top: 32px;
    left: 0;
    -webkit-transform-origin: 0 0;
    transition: all .5s;
}
.select .search-text{
    width: 95%;
    height: 30px;
    text-indent: 3px;
    border: 1px solid #d5d4d6;
    color: #000;
    line-height: 30px;
    font-size: 14px;
    margin-left: 2.5%;
    margin-top: 5px;
}
.select .select-bar-option{
    padding-top: 10px;
}
.select .select-bar-option-group{
    margin-bottom: 10px;
}
.select .select-bar-option-title{
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    text-indent: 5px;
}
.select .select-bar-option-item{
    font-size: 14px;
    height: 30px;
    text-indent: 15px;
    cursor: pointer;
    line-height: 30px;
}
.select .select-bar-option-item:hover{
    background-color: #ccc;
}
.select-bar-option-item.active{
    background-color: #4e98f8;
}
.linone{
    display: none;
}